{% load static %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-2 d-flex flex-column align-items-center mt-4">
            <img src="{% static 'img/80x80.png' %}" alt="Аватарка"
                 class="rounded-circle mb-2">

            <button id="like-button-{{ question.id }}"
                    class="btn btn-outline-success btn-sm mt-2 mb-2"
                    data-question-id="{{ question.id }}">
                <i class="bi bi-heart"></i>
                <span class="likes-count" id="likes-{{ question.id }}">
                    {{ question.likes_count }}
                </span>
            </button>
        </div>
        <div class="col-10">
            <div class="card-body">
                <a class="he" href="{% url 'question' question.id %}">
                    <h5 class="card-title">
                        {{ question.title }}
                    </h5>
                </a>
                <p class="card-text">
                    {{ question.text }}
                </p>
                <a href="{% url 'question' question.id %}">
                    <button class="btn btn-outline-primary btn-sm">
                        Ответы
                    </button>
                </a>
                <div class="mt-2">
                    Теги:
                    {% for tag in question.tags.all %}
                        <a class="text-decoration-none"
                           href="{% url 'tag' tag.name %}">
                            <span class="badge bg-secondary">{{ tag.name }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% if user.is_authenticated %}
    <script>
        $(document).ready(function () {
            $('#like-button-{{ question.id }}').click(function () {
                const questionId = $(this).data('question-id');
                console.log(questionId)
                $.ajax({
                    url: "{% url 'like_question' %}",
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'question_id': questionId,
                    },
                    success: function (data) {
                        $('#likes-{{ question.id }}').text(data.likes_count);
                        if (data.likes_count !== undefined) {
                            if ($(this).hasClass('liked')) {
                                $(this).removeClass('liked');
                            } else {
                                $(this).addClass('liked');
                            }
                        }
                    },
                    error: function (data) {
                        alert(data.responseJSON.error);
                    }
                });
            });
        });
    </script>
{% endif %}