{% extends 'base.html' %}

{% block title %}Добавить вопрос{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="my-4">Задать новый вопрос</h2>

        <form method="POST" action="{% url 'ask' %}">
            {% csrf_token %}

            <div class="mb-3">
                <label for="title" class="form-label">Заголовок вопроса</label>
                {{ form.title }}
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Описание вопроса</label>
                {{ form.text }}
            </div>

            <div class="mb-3">
                <label for="tags" class="form-label">Теги</label>
                {{ form.tags }}
            </div>

            <button type="submit" class="btn btn-primary">Опубликовать вопрос</button>
        </form>
    </div>
{% endblock %}
