{% extends 'base.html' %}
{% load static %}

{% block title %}{{ question.title }}{% endblock %}

{% block content %}
    <div class="mb-4">
        <h2>{{ question.title }}</h2>
        <p>{{ question.text|linebreaks }}</p>

        <div class="d-flex align-items-center">
            <button id="like-button-{{ question.id }}"
                    class="btn btn-outline-success btn-sm mt-2 mb-2"
                    data-question-id="{{ question.id }}">
                <i class="bi bi-heart"></i>
                <span class="likes-count" id="likes-{{ question.id }}">
                    {{ likes_count }}
                </span>
            </button>
        </div>

        <div class="mt-3">
            Теги:
            {% for tag in question.tags.all %}
                <a class="text-decoration-none"
                   href="{% url 'tag' tag.name %}">
                    <span class="badge bg-secondary">{{ tag.name }}</span>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        <h4>Ответы</h4>

        {% for answer in page_obj %}
            {% include 'includes/answer_card.html' %}
        {% endfor %}
    </div>

    {% include 'includes/pagination.html' %}
    {% if user.is_authenticated %}
        <div class="mb-4">
            <h4>Добавить ответ</h4>
            <form method="POST" action="{% url 'add_answer' question.id %}">
                {% csrf_token %}
                <div class="mb-3">
                    <textarea class="form-control" name="text" rows="4"
                              placeholder="Ваш ответ..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Отправить ответ
                </button>
            </form>
        </div>
    {% endif %}
{% endblock %}
{% block script %}
    {% if user.is_authenticated %}
        <script>
            $(document).ready(function () {
                $('#like-button-{{ question.id }}').click(function () {
                    const questionId = $(this).data('question-id');
                    console.log(questionId)
                    $.ajax({
                        url: "{% url 'like_question' %}",
                        type: 'POST',
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'question_id': questionId,
                        },
                        success: function (data) {
                            $('#likes-{{ question.id }}').text(data.likes_count);
                            if (data.likes_count !== undefined) {
                                if ($(this).hasClass('liked')) {
                                    $(this).removeClass('liked');
                                } else {
                                    $(this).addClass('liked');
                                }
                            }
                        },
                        error: function (data) {
                            alert(data.responseJSON.error);
                        }
                    });
                });
            });
        </script>
    {% endif %}
{% endblock %}