{% extends 'base.html' %}
{% load static %}

{% block title %}Настройки пользователя{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="my-4">Настройки пользователя</h2>

        <form method="POST" action="#" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="username" class="form-label">Имя пользователя</label>
                <input type="text" class="form-control" id="username" name="username" value="" required placeholder="Введите новый никнейм">
            </div>
            
            <div class="mb-3">
                <label for="email" class="form-label">Электронная почта</label>
                <input type="email" class="form-control" id="email" name="email" value="" required placeholder="Введите новый email">
            </div>
            
            <div class="mb-3">
                <label for="avatar" class="form-label">Изменить аватарку</label>
                <input type="file" class="form-control" id="avatar" name="avatar" accept="image/*">
                <div class="mt-2">
                    <img src="{% static 'img/80x80.png' %}" alt="Avatar" class="img-thumbnail" width="100">
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        </form>

    </div>
{% endblock %}
