{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="my-4">Регистрация</h2>

        <form method="POST" action="{% url 'register' %}"
              enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                <label for="username" class="form-label">Имя
                    пользователя</label>
                <input type="text" class="form-control" id="username"
                       name="username" required
                       placeholder="Введите имя пользователя">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Электронная почта</label>
                <input type="email" class="form-control" id="email"
                       name="email" required
                       placeholder="Введите вашу электронную почту">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="password"
                       name="password" required
                       placeholder="Введите ваш пароль">
            </div>

            <div class="mb-3">
                <label for="confirm_password" class="form-label">Подтверждение
                    пароля</label>
                <input type="password" class="form-control"
                       id="confirm_password" name="confirm_password" required
                       placeholder="Подтвердите ваш пароль">
            </div>

            <div class="mb-3">
                <label for="avatar" class="form-label">Загрузить
                    аватарку</label>
                <input type="file" class="form-control" id="avatar"
                       name="avatar" accept="image/*">
            </div>

            <div class="alert alert-danger" role="alert">
                Этот email уже зарегистрирован.
            </div>


            <button type="submit" class="btn btn-primary">Зарегистрироваться
            </button>
        </form>

        <div class="mt-3">
            <span>Уже есть аккаунт? </span><a
                href="{% url 'login' %}">Войти</a>
        </div>
    </div>
{% endblock %}
